<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Faust2unity build bot</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="py-16 bg-slate-800">
      <h1 class="mb-4 text-4xl space-y-8 text-center text-white font-bold font-sans">
          Faust2unity build bot
      </h1>
      <h2 class="text-1xl mb-4 text-center text-white font-bold space-y-8 ">
          Yay! Build ready!
      </h2>
      <div class="text-sm text-center space-y-8 text-slate-400 font-sans">
          <a type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-4 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" href="{{url}}">Click here to download {{file}}</a>
      </div>
  </body>
</html>