<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="5" >

    <title>Faust2unity build bot</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="py-16 bg-slate-800">
      <h1 class="mb-4 text-4xl text-center text-white font-bold font-sans">
          Faust2unity build bot
      </h1>
      <div class="text-sm text-center space-y-8 text-slate-400 font-sans">
          <p>Build is currently running...</p>
          <p>This page automatically refreshes and will provide you with a link to your build once it's ready!</p>
      </div>
  </body>
</html>